﻿@model PrismAdminAPI.Models.UserLogin
@{
    Layout = "~/Views/Shared/_Account.cshtml";
}
<style>
    .my-auto {
        margin-top: 25% !important;
    }
    .validation-summary-errors {
        color:red;
        text-align:center;
    }

    .validation-summary-errors > ul  {
        list-style-type:none;
    }
</style>
<div class="row h-100">
    <!-- left column -->
    <div class="col-sm-3">&nbsp;</div>
    <div class="col-sm-6">
        <!-- jquery validation -->
        <div class="card card-primary my-auto">
            <div class="card-header">
                <h3 class="card-title">Ideal Study Admin</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
                {
                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary(true);
            <div class="card-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-sm-2 col-form-label" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 col-form-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "danger" })
                </div>
                <div class="form-group">
                    <label class="col-form-label">Remember Me &nbsp;&nbsp;&nbsp; @Html.CheckBoxFor(m => m.RememberMe)</label>
                </div>
            </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                }
            </div>
        <!-- /.card -->
    </div>
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-sm-3">&nbsp;</div>
    <!--/.col (right) -->
</div>
       
