﻿@model PrismAdminAPI.Models.LnkQuestionChapterViewModel

@{
    ViewBag.Title = "AddMcq";
}

<link rel="stylesheet" href="../../ThemeContent/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper accent-primary ">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>MCQ</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Add MCQ</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content ">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Add MCQ</h3>
                                </div>
                                <div class="col-sm-6">
                                    <a onClick="GetCorrectAnswersOnly()" class="btn btn-danger float-right">Load Right Answers</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="form-horizontal">
                            <div class="card-body" id="divMcqMain">
                                @*@using (Html.BeginForm("SaveMcq", "Mcq", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
                                    {*@
                                @Html.ValidationSummary(true)
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Select Standard</label>
                                    <div class="col-sm-3">
                                        @Html.DropDownListFor(m => m.StandardId, Model.StandardList, "-- Select Standard --", new { @class = "form-control ddlStandard", id = "standardId", name = "standardId", onchange = "OnStandardChange()" })
                                        @Html.ValidationMessageFor(m => m.StandardId, null, new { @class = "danger" })
                                    </div>
                                    <label class="col-sm-3 col-form-label">Select Medium</label>
                                    <div class="col-sm-3">
                                        @Html.DropDownListFor(m => m.MediumId, Model.MediumList, "-- Select Medium --", new { @class = "form-control ddlMedium", id = "mediumId", name = "mediumId" , onchange = "onMediumChange()" })
                                        @Html.ValidationMessageFor(m => m.MediumId, null, new { @class = "danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Select Subject</label>
                                    <div class="col-sm-3">
                                        @Html.DropDownListFor(m => m.SubjectId, Model.SubjectList, "-- Select Subject --", new { @class = "form-control ddlSubject", id = "subjectId", name = "subjectId" , onchange = "onSubjectChange()" })
                                        @Html.ValidationMessageFor(m => m.SubjectId, null, new { @class = "danger" })
                                    </div>
                                    <label class="col-sm-3 col-form-label">Select Chapter</label>
                                    <div class="col-sm-3">
                                        @Html.DropDownListFor(m => m.ChapterId, Model.ChapterList, "-- Select Chapter --", new { @class = "form-control ddlChapter", id = "chapterId", name = "chapterId" , onchange = "onChapterChange()" })
                                        @Html.ValidationMessageFor(m => m.ChapterId, null, new { @class = "danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Select Section</label>
        <div class="col-sm-3">
            @Html.DropDownListFor(m => m.SectionId, Model.SectionList, "-- Select Section --", new { @class = "form-control ddlSection", id = "sectionId", name = "sectionId" })
            @Html.ValidationMessageFor(m => m.SectionId, null, new { @class = "danger" })
        </div>
                                    <div class="col-sm-11">
                                    </div>
                                    <div class="col-sm-1">
                                        <button id="loadMcq" class="btn btn-primary"> Load Mcq </button>
                                    </div>
                                </div>
                                <div id="divMcq">
                                    @{ Html.RenderPartial("_McqPartial", Model); }
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" id="btnSubmit" 
                                            class="btn btn-primary" 
                                            hidden ="hidden"
                                            onclick="SubmitMcq()" >Submit</button>
                                </div>

                                @*}*@
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

</div>
<script src="~/ThemeContent/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script src="~/ThemeScript/Mcq.js"></script>
<script>
    var _urlMediumList = '@Url.Action("GetMediumsByStandardId", "Mcq")';
    var _urlSubjectList = '@Url.Action("GetSubjectsByStandardAndMedium", "Mcq")';
    var _urlChapterList = '@Url.Action("GetChaptersByStandardAndMedium", "Mcq")';
    var _urlSectionList = '@Url.Action("GetSectionsByChapterId", "Mcq")';
</script>
<style>

    .hoverIcon:hover {
        color: green !important;
    }

    .answercard-body {
        background-color: #9d691fc7 /*#825309c7*/;
    }

    .questionBack {
        background-color: #bbad84;
        font-weight: bold;
    }

    .answerCard-back {
        background-color: #bbad84;
    }

    .answerCard:hover {
        background-color: ThreeDLightShadow !important;
        color: white;
    }

    .btn {
        color: white;
    }

    .delete {
        color: white;
    }

    .answerCard {
        background-color: whitesmoke;
    }

    .questionPadding {
        padding-top: 6px;
    }

    .card row {
        line-height: 0.5rem
    }
</style>


