﻿@model PrismAdminAPI.Models.LnkAdminRole
@{
    ViewBag.Title = "Add Admin";
}
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Admin</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Add Admin</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Add Admin</h3>
                                </div>
                                <div class="col-sm-6">
                                    <a href="Admin/ListAdmin" class="btn btn-danger float-right">Admin List</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="form-horizontal">
                            <div class="card-body">
                                @using (Html.BeginForm("InsertAdmin", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
                                {
                                    @Html.ValidationSummary(true);
                                <div class="card-body">
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.Admin.UserName, new { @class = "col-sm-2 col-form-label" })
                                        <div class="col-sm-5">
                                            @Html.TextBoxFor(m => m.Admin.UserName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Admin.UserName, null, new { @class = "danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.Admin.Password, new { @class = "col-sm-2 col-form-label" })
                                        <div class="col-sm-5">
                                            @Html.TextBoxFor(m => m.Admin.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Admin.Password, null, new { @class = "danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Select Role</label>
                                        <div class="col-sm-5">
                                            @Html.DropDownListFor(m => m.Admin.RoleId, Model.Roles, "-- Select Role --", new { @class = "form-control ddlAdminRole", id = "roleId", name = "sponsorerId" })
                                            @Html.ValidationMessageFor(m => m.Admin.RoleId, null, new { @class = "danger" })
                                        </div>
                                    </div>
                                </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

</div>
<script src="~/ThemeContent/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

<script>

    var loadFile = function (event, imgId) {
        var image = document.getElementById(imgId.toString());
        image.src = "";
        image.src = URL.createObjectURL(event.target.files[0]);
        image.clientHeight = 200;
        image.clientWidth = 200;
    };
</script>

