﻿@model IEnumerable<PrismAdminAPI.Models.Admin>

@{
    ViewBag.Title = "List Admin";
}

<link rel="stylesheet" href="../../ThemeContent/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Admin List</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Admin List</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row h-100 d-none" id="divAlertMessage">
                <div class="col-sm-12 alert alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                    <span class="textMessage"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Admin List</h3>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/addAdmin" class="btn btn-danger float-right">Add Admin</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tblSubject" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Admin Id</th>
                                        <th>User Name</th>
                                        <th>Active/Deactive</th>
                                        <th>Role Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var adminDetails in Model)
                                    {
                                        <tr>
                                            <td>@adminDetails.AdminId</td>
                                            <td>@adminDetails.UserName</td>
                                            <td>
                                                @{
                                                    string _isActive = adminDetails.IsActive == true ? "checked" : "";
                                                }
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" data-serialid="@adminDetails.AdminId" onclick="ActiveDeactive(this)" type="checkbox" id="chkAdmin-@adminDetails.AdminId" @_isActive>
                                                    <label for="chkAdmin-@adminDetails.AdminId" class="custom-control-label"></label>
                                                </div>
                                            </td>
                                            <td>@adminDetails.RoleName</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Admin Id</th>
                                        <th>User Name</th>
                                        <th>Active/Deactive</th>
                                        <th>Role Name</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <script src="../../ThemeContent/plugins/datatables/jquery.dataTables.js"></script>
    <script src="../../ThemeContent/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/ThemeScript/Admin.js"></script>
    <script>
        var _urlActiveDeactivateAdmin='@Url.Action("ActiveDeactivateAdmin", "Admin")'
        $(function () {
            $('#tblSubject').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>
</div>


