﻿
@{
    ViewBag.Title = "AutoRegistration";
}

<h2>AutoRegistration</h2>


<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Auto Registration</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Auto Registration</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Auto Registration</h3>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="form-horizontal">
                            <div class="card-body">
                                @using (Html.BeginForm("AutoRegistration", "AutoRegistration", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", id = "AutoRegistrationForm" }))
                                {
                                    <div class="card-body">
                                        <div class="form-group row">
                                            @Html.Label("File", new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-5">
                                                <input type="file" id="UploadedFile" name="UploadedFile" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" id="btnSubmit" class="btn btn-primary">Register</button>
                                    </div>
                                }
                                <div class="spinner" style="display: none">
                                    <div class="center-div">
                                        <div class="inner-div">
                                            <div class="loader"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#AutoRegistrationForm').submit(function (e) {

            e.preventDefault();
            var fileUpload = $("#UploadedFile").get(0);
            var files = fileUpload.files;

            var formData = new FormData();

            for (var i = 0; i < files.length; i++) {
                console.log('(files[i].name:' + files[i].name);
                formData.append('UploadedFile', files[i]);
            }

            $("input[type='text'").each(function (x, y) {
                formData.append($(y).attr("name"), $(y).val());
            });

            $('.spinner').css('display', 'block');
            //$("#lblpr").val("Processing Registration");

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                processData: false,
                contentType: false,
                success: function (isSuccess) {
                    $('.spinner').fadeOut(1500);
                    alert("Done Registration !!!")
                },
                error: function (err) {
                    alert(err.statusCode);
                }
            });

        });

    });
</script>


<style>
    .center-div {
        width: 300px;
        height: 300px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -150px;
        margin-top: -150px;
    }

    .spinner {
        position: fixed;
        z-index: 999;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
        -moz-opacity: 0.8;
    }

    .loader {
        margin: auto;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #15a0ec;
        border-bottom: 16px solid #15a0ec;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    .inner-div {
        background-color: white;
        border-radius: 15px;
        margin: auto;
        padding: 2%;
        width: 150px;
    }

    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>