﻿@model IEnumerable<PrismAdminAPI.Models.StudentDetail>
@{
    ViewBag.Title = "Student Details";
}
<link rel="stylesheet" href="../../ThemeContent/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Sponsorer List</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Student Details</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row h-100 d-none" id="divAlertMessage">
                <div class="col-sm-12 alert alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                    <span class="textMessage"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-8">
                                    <h3 class="card-title">
                                        Student Details
                                    </h3>
                                </div>
                                <div class="col-sm-4">
                                    <label class="radio-inline">
                                        <input type="radio" id="usedRadio" value="used" name="couponRadio" checked>Used
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="unUsedRadio" value="unused" name="couponRadio">Un Used
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tblStudentDetails" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Coupon Id</th>
                                        <th>Coupon Code</th>
                                        <th>First Name</th>
                                        <th>Father Name</th>
                                        <th>Last Name</th>
                                        <th>Medium Name</th>
                                        <th>Phone Number</th>
                                        <th>Date Of Birth</th>
                                        <th>Login Date</th>
                                        <th>Last Login Date</th>
                                        <th>Sponsorer Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var studentDetail in Model)
                                    {
                                        <tr>
                                            <td>@studentDetail.CouponId</td>
                                            <td>@studentDetail.CouponCode</td>
                                            <td>@studentDetail.FirstName</td>
                                            <td>@studentDetail.FatherName</td>
                                            <td>@studentDetail.LastName</td>
                                            <td>@studentDetail.MediumName</td>
                                            <td>@studentDetail.PhoneNumber</td>
                                            <td>@studentDetail.DateOfBirth</td>
                                            <td>@(studentDetail.LoginDate)</td>
                                            <td>@(studentDetail.LastLoginDate)</td>
                                            <td>@studentDetail.SponsorerName</td>
                                            <td> </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Coupon Id</th>
                                        <th>Coupon Code</th>
                                        <th>First Name</th>
                                        <th>Father Name</th>
                                        <th>Last Name</th>
                                        <th>Medium Name</th>
                                        <th>Phone Number</th>
                                        <th>Date Of Birth</th>
                                        <th>Login Date</th>
                                        <th>Last Login Date</th>
                                        <th>Sponsorer Name</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

    <script src="../../ThemeContent/plugins/datatables/jquery.dataTables.js"></script>
    <script src="../../ThemeContent/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>

    <script src="~/ThemeContent/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/ThemeContent/plugins/jszip/jszip.min.js"></script>
    <script src="~/ThemeContent/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/ThemeContent/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/ThemeContent/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/ThemeScript/StudentDetail.js"></script>
    <script>
        var _urlGetUnUsedCoupons = '@Url.Action("GetUnusedCoupons", "SponsorerAdmin")'
        $(function () {
            $('#tblStudentDetails').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                dom: 'Bfrtip',
                buttons: [ 'excelHtml5']
            });
        });
    </script>
</div>


