﻿@model IEnumerable<PrismAdminAPI.Models.SponsorerCoupon>

@{
    ViewBag.Title = "ListCoupon";
}
<link rel="stylesheet" href="../../ThemeContent/plugins/datatables-bs4/css/dataTables.bootstrap4.css">

<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Coupon List</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Coupon List</h3>
                                </div>
                                <div class="col-sm-4">
                                    <h3 class="card-title">
                                        <div id="record-filters" class="btn-group" data-toggle="buttons">
                                            <label id="gridUsed" class="btn btn-primary">
                                                <input type="radio" name="GridDisplay" id="gridDisplayUsed" autocomplete="off" value="Yes" /> Used
                                            </label>
                                            <label id="gridUnused" class="btn btn-primary" style="left:20px">
                                                <input type="radio" name="GridDisplay" id="gridDisplayUnused" autocomplete="off" value="No" /> UnUsed
                                            </label>
                                        </div>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tblSubject" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Coupon Id</th>
                                        <th>Coupon Code</th>
                                        <th>Coupon Used</th>
                                        <th>Sponsorer Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var couponDetails in Model)
                                    {
                                    <tr>
                                        <td>@couponDetails.CouponId</td>
                                        <td>@couponDetails.CouponCode</td>
                                        <td>@(couponDetails.IsUsed ? "Yes" : "No")</td>
                                        <td>@couponDetails.SponsorerName</td>
                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Coupon Id</th>
                                        <th>Coupon Code</th>
                                        <th>Coupon Used</th>
                                        <th>Sponsorer Name</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <script src="../../ThemeContent/plugins/datatables/jquery.dataTables.js"></script>
    <script src="../../ThemeContent/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="../../ThemeContent/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/ThemeScript/Coupon.js"></script>
    <script>
        $(document).ready(function () {
            var grid = $('#tblSubject').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false, 
            });

            //// Reload on radio button clicks
            //$('[name="HtmlGridDisplay"]').click(function () {
            //    alert("HTML radio buttons are for display only, no filter was applied.");
            //});

            // Reload on record filter radio button clicks 
            $(document).on("click", "#record-filters", function () {
                grid.draw();
            });

            var toggleActive = function (activate) {
                $('#record-filters').find('.btn-primary').each(function (index, element) {
                    $(element).removeClass('active');
                });
                activate.addClass('active');
            }

            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var used = $('#gridDisplayUsed')[0].checked;
                    var unused = $('#gridDisplayUnused')[0].checked;
                    var condition = String(data[2]); // check condition
                    if (used) {
                        toggleActive($('#gridUsed'));
                        return ($('#gridDisplayUsed')[0].value == condition);
                    } else if (unused) {
                        toggleActive($('#gridUnused'));
                        return ($('#gridDisplayUnused')[0].value == condition);
                    }
                    return false;
                }
            );
        });
    </script>
</div>

