﻿@model PrismAdminAPI.Models.Chapter
@{
    ViewBag.Title = "Add Chapter";
}
<link rel="stylesheet" href="../../ThemeContent/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Chapter</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Add Chapter</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Add Subject</h3>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/subjectlist" class="btn btn-danger float-right">Chapter List</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="form-horizontal">
                            <div class="card-body">
                                @using (Html.BeginForm("InsertChapter", "Chapter", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
                                {
                                    @Html.ValidationSummary(true);
                                <div class="card-body">
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.ChapterName, new { @class = "col-sm-2 col-form-label" })
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(m => m.ChapterName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.ChapterName, null, new { @class = "danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.StandardId, new { @class = "col-sm-2 col-form-label" })
                                        <div class="col-sm-10">
                                            @Html.DropDownListFor(m => m.StandardId, Model.StandardList, "-- Select Standard --", new { @class = "form-control ddlStandard", onchange= "GetMediumsById()" })
                                            @Html.ValidationMessageFor(m => m.StandardId, null, new { @class = "danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.MediumId, new { @class = "col-sm-2 col-form-label" })
                                        @Html.HiddenFor(m=>m.MediumId)
                                        <div class="col-sm-10">
                                            <select class="form-control" id="ddlMedium" onchange="GetSubjectList()">
                                                <option selected="selected" value="0">-- Select Medium --</option>
                                            </select>
                                            @Html.ValidationMessageFor(m => m.MediumId, null, new { @class = "danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.SubjectId, new { @class = "col-sm-2 col-form-label" })
                                        @Html.HiddenFor(m => m.SubjectId)
                                        <div class="col-sm-10">
                                            <select class="form-control" id="ddlSubject" onchange="OnSubjectChange(this)">
                                                <option selected="selected" value="0">-- Select Subject --</option>
                                            </select>
                                            @Html.ValidationMessageFor(m => m.SubjectId, null, new { @class = "danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.Description, new { @class = "col-sm-2 col-form-label" })
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Description, null, new { @class = "danger" })
                                        </div>
                                    </div>
                                </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

</div>
<script src="~/ThemeScript/Chapter.js"></script>
<script>
    var _urlMediumList = '@Url.Action("GetMediumsByStandardId", "Chapter")';
    var _urlSubjectList= '@Url.Action("GetSubjectList", "Chapter")';
</script>

