﻿@model IEnumerable<PrismAdminAPI.Models.Standard>
@{
    ViewBag.Title = "List Standard";
}
<link rel="stylesheet" href="../../ThemeContent/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Standard</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Standanrd List</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row h-100 d-none" id="divAlertMessage">
                <div class="col-sm-12 alert alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                    <span class="textMessage"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Standard List</h3>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/addstandard" class="btn btn-primary float-right">Add Standard</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tblStandard" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Standard Id</th>
                                        <th>Standard Name</th>
                                        <th>Description</th>
                                        <th>Active/Deactive</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.StandardId</td>
                                            <td>@item.StandardName</td>
                                            <td>@item.Description</td>
                                            <td>
                                                @{
                                                    string _isActive = item.IsActive == true ? "checked" : "";
                                                }
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" data-serialid="@item.StandardId" onclick="ActiveDeactive(this)" type="checkbox" id="chkStandard-@item.StandardId" @_isActive>
                                                    <label for="chkStandard-@item.StandardId" class="custom-control-label"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <button class="btn btn-link" onclick="javascript: location.href= 'editstandard/@item.StandardId'" >Edit</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Standard Id</th>
                                        <th>Standard Name</th>
                                        <th>Description</th>
                                        <th>Active/Deactive</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <script src="../../ThemeContent/plugins/datatables/jquery.dataTables.js"></script>
    <script src="../../ThemeContent/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/ThemeScript/Standard.js"></script>
    <script>
        
        var _urlActiveDeactiveStandard = '@Url.Action("ActiveDeactiveStandard", "Standard")';
        $(function () {
            $('#tblStandard').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });

        
    </script>
</div>


