﻿@model IEnumerable<PrismAdminAPI.Models.ChapterContentViewModel>
@using PrismAdminAPI.Models;
@{
    ViewBag.Title = "List Chapter Content";
}
<link rel="stylesheet" href="../../ThemeContent/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<style>
    .section1 {
        text-align: center;
        border: 0px;
        box-shadow: 0 2px 3px 0 rgba(247,95,30,.2) !important;
        background-image: linear-gradient(to right,#0559f3,#4886f8) !important;
    }

    .section1-icon {
        height: 28px;
        opacity: 0.6;
        margin-bottom: 1em;
        background: url(icon/guidance.png) no-repeat top center !important;
    }
</style>
    <!-- Content Wrapper. Contains page content -->
    <div id="divChapterList" >
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tblChapterContent" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Standard </th>
                                        <th>Medium</th>
                                        <th>Subject</th>
                                        <th>Chapter</th>
                                        <th>Section</th>
                                        <th>Content Type</th>
                                        <th>Edit</th>
                                        <th>View/Print</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        @Html.Hidden(@item.StandardId.ToString(), item.StandardId, new { @class = "clsStandard" })
                                        <td>@item.StandardName</td>
                                        @Html.Hidden(@item.MediumId.ToString(), item.MediumId, new { @class = "clsMedium" })
                                        <td>@item.MediumName</td>
                                        @Html.Hidden(@item.SubjectId.ToString(), item.SubjectId, new { @class = "clsSubject" })
                                        <td>@item.SubjectName</td>
                                        @Html.Hidden(@item.ChapterId.ToString(), item.ChapterId, new { @class = "clsChapter" })
                                        <td>@item.ChapterName</td>
                                        @Html.Hidden(@item.SectionId.ToString(), item.SectionId, new { @class = "clsSection" })
                                        <td>@item.SectionName</td>
                                        <td>
                                            @{
                                                var contentType = (ChapterContentType)(Convert.ToInt32(item.ContentType));
                                            }
                                            @contentType.ToString()
                                        </td>
                                        
                                        <td>
                                            @if (contentType.ToString()== "Text")
                                            {
                                                using (Html.BeginForm("ViewChapterContent", "ChapterContent", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", onsubmit = "return OnSubmitClick()" }))
                                                {
                                                    @Html.Hidden("StandardId", item.StandardId)
                                                    @Html.Hidden("MediumId", item.MediumId)
                                                    @Html.Hidden("SubjectId", item.SubjectId)
                                                    @Html.Hidden("ChapterId", item.ChapterId)
                                                    @Html.Hidden("SectionId", item.SectionId)

                                                    <input id="edit" class="btn btn-success " type="submit" value="Edit">
                                                }
                                            }

                                        </td>
                                        
                                        <td><button id="viewPrint" class="btn btn-success " onclick="onViewPrintAction(this)"> Print </button></td>
                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Standard </th>
                                        <th>Medium</th>
                                        <th>Subject</th>
                                        <th>Chapter</th>
                                        <th>Section</th>
                                        <th>Content Type</th>
                                        <th>Edit</th>
                                        <th>View/Print</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        

                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
    </div>
    <div class="modal p-0" id="chapterPagesViewPrintModal"></div>
<script src="../../ThemeContent/plugins/datatables/jquery.dataTables.js"></script>
<script src="../../ThemeContent/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="~/ThemeScript/ChapterContent.js"></script>
<script>
     
    $(function () {
        $('#tblChapterContent').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });
    });

    function onViewPrintAction(eval) {
        debugger;
        var chaptId = $(eval).closest("tr").find(".clsChapter").val();
        var secNumber = $(eval).closest("tr").find(".clsSection").val();
        $.ajax({
            type: "GET",
            url: "/ChapterContent/GetChapterContentOnSectionPrint",
            data: { ChapterId: chaptId, SectionId: secNumber },
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                debugger;
                $('#chapterPagesViewPrintModal').modal('show');
                $('#chapterPagesViewPrintModal').html(data);
            },
            error: function (result) {
                alert(result);
            }
        });
    }


    function CloseSectionModel() {
        $('#chapterPagesViewPrintModal').modal('hide');
    }
</script>

