﻿@model PrismAdminAPI.Models.ChapterContentViewModel
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, user-scalable=1">
<style>
    .chapter-close-btn {
        margin-top: -16px;
        float: right;
    }

    .modal-header {
        padding: 5px 5px !important;
    }

        .modal-header .close {
            padding: 5px 10px;
            margin: 0px 5px -15px auto;
            background: #337ab7;
        }
</style>
<div class="modal-dialog m-0" style="max-width:inherit;width:100% !important;">
    <div class="modal-content">
        <div class="modal-header section1" style="height: 7vh !important;display:block !important;">
            <span class="modal-title" style="color:black; text-align:left;" id="chapterPagesLabel">View/Print Chapter Content</span>
            <button type="button" class="btn btn-primary close" aria-label="Close" onclick="CloseSectionModel()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body contentBody" style="padding-left:7px;padding-right:7px;overflow-y: scroll!important;height: 85vh;">
            <div class="row" style="float:right;margin-right:8px;">
                <button class="btn btn-default" style="background-color:mediumslateblue;" onclick="PrintContent()">Print</button>
            </div>
            <div id="DivIdToPrint">

                @if (Model != null)
                {
                    @Html.Raw(Model.ChapterTextContents)
                }
                else
                {
                    <h3>Web site still in progress we will update this shortly!</h3>
                }
            </div>
        </div>
        <div class="modal-footer section1" style="height: 8vh !important;justify-content:flex-start;">
            &nbsp;
        </div>
    </div>
</div>
<script>
    function PrintContent() {
        var divToPrint = document.getElementById('DivIdToPrint');
        var newWin = window.open('', 'Print-Window');
        newWin.document.open();
        newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');
        newWin.document.close();
        setTimeout(function () { newWin.close(); }, 10);
    }  
</script>
