﻿@model PrismAdminAPI.Models.ChapterContent
@using PrismAdminAPI.Models
@{
    ViewBag.Title = "Add Chapter Content";
}
@*<link href="~/ThemeContent/summernote/summernote.min.css" rel="stylesheet" />*@
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
<link href="~/Content/editorJSCSS/codemirror.css" rel="stylesheet" />
<link href="~/Content/editorJSCSS/monokai.css" rel="stylesheet" />
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Add Chapter Content</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row h-100 d-none" id="divAlertMessage">
                <div class="col-sm-12 alert alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                    <span class="textMessage"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Add Chapter Content</h3>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/getchaptercontent" class="btn btn-danger float-right">Chapter Content List</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="form-horizontal">
                            <div class="card-body">
                                @using (Html.BeginForm("InsertChapterContent", "ChapterContent", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", onsubmit = "return OnSubmitClick()" }))
                                {
                                    @Html.ValidationSummary(true);
                                    <div class="card-body">
                                        <div class="form-group row">
                                            @Html.LabelFor(m => m.StandardId, new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-4">
                                                @Html.DropDownListFor(m => m.StandardId, Model.StandardList, "-- Select Standard --", new { @class = "form-control ddlStandards", onchange = "OnStandardChange()" })
                                                @Html.ValidationMessageFor(m => m.StandardId, null, new { @class = "danger errorStandardId" })
                                            </div>

                                            @Html.LabelFor(m => m.MediumId, new { @class = "col-sm-2 col-form-label" })
                                            @Html.HiddenFor(m => m.MediumId)
                                            <div class="col-sm-4">
                                                <select class="form-control" id="ddlMediums" onchange="onMediumChange()">
                                                    <option selected="selected" value="0">-- Select Mediums --</option>
                                                </select>
                                                @Html.ValidationMessageFor(m => m.MediumId, null, new { @class = "danger errorMediumId" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(m => m.SubjectId, new { @class = "col-sm-2 col-form-label" })
                                            @Html.HiddenFor(m => m.SubjectId)
                                            <div class="col-sm-4">
                                                <select class="form-control" id="ddlSubjects" onchange="onSubjectChange()">
                                                    <option selected="selected" value="0">-- Select Subjects --</option>
                                                </select>
                                                @Html.ValidationMessageFor(m => m.SubjectId, null, new { @class = "danger errorSubjectId" })
                                            </div>
                                            @Html.LabelFor(m => m.ChapterId, new { @class = "col-sm-2 col-form-label" })
                                            @Html.HiddenFor(m => m.ChapterId)
                                            <div class="col-sm-4">
                                                <select class="form-control" id="ddlChapters" onchange="onChapterChange()">
                                                    <option selected="selected" value="0">-- Select Chapters --</option>
                                                </select>
                                                @Html.ValidationMessageFor(m => m.ChapterId, null, new { @class = "danger errorChapterId" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(m => m.SectionId, new { @class = "col-sm-2 col-form-label" })
                                            @Html.HiddenFor(m => m.SectionId)
                                            <div class="col-sm-10">
                                                <select class="form-control" id="ddlSections">
                                                    <option selected="selected" value="0">-- Select Sections --</option>
                                                </select>
                                                @Html.ValidationMessageFor(m => m.SectionId, null, new { @class = "danger errorSectionId" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(m => m.IsSectionDisabled, new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-6">
                                                @Html.CheckBoxFor(m => m.IsSectionDisabled.HasValue, new { @class = "isSectionDisabled col-sm-2" })
                                                <input type="button" class="btn btn-danger" value="Disable Section" onclick="DisableSection(this)" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(m => m.ContentType, new { @class = "col-sm-2 col-form-label" })
                                            @Html.HiddenFor(m => m.ContentTypeString)
                                            <div class="col-sm-10">
                                                @Html.DropDownListFor(model => model.ContentTypeString, EnumHelper.GetSelectList(typeof(ChapterContentType)), "-- Select Content Type --", new { @class = "form-control ddlChapterContentType" })
                                                @Html.ValidationMessageFor(m => m.ContentType, null, new { @class = "danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row ChapterImageContents">
                                            @Html.LabelFor(m => m.ChapterImageContents, new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-4">
                                                <div class="custom-file">
                                                    @Html.TextBoxFor(m => m.ChapterImageContents, new { type = "file", @class = "custom-file-input", multiple = "multiple", accept = "image/*" })
                                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                                </div>
                                                @Html.ValidationMessageFor(m => m.ChapterImageContents, null, new { @class = "danger errorChapterImageContents" })
                                            </div>
                                            <div class="col-sm-6" id="UploadedImageContents">

                                                &nbsp;
                                            </div>
                                        </div>

                                        <div class="form-group row ChapterVideoContents">
                                            @Html.LabelFor(m => m.ChapterVideoContents, new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-4">
                                                <div class="custom-file">
                                                    @Html.TextBoxFor(m => m.ChapterVideoContents, new { type = "file", @class = "custom-file-input", accept = "video/*" })
                                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                                </div>
                                                @Html.ValidationMessageFor(m => m.ChapterVideoContents, null, new { @class = "danger errorChapterVideoContents" })
                                            </div>
                                            <div class="col-sm-6" id="UploadedVideoContents">
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="form-group row ChapterTextContents">
                                            @Html.LabelFor(m => m.ChapterTextContents, new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-10">
                                                @Html.TextAreaFor(m => m.ChapterTextContents, new { @class = "chapterTextContentTextArea" })
                                                @Html.ValidationMessageFor(m => m.ChapterTextContents, null, new { @class = "danger errorChapterTextContents" })
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>

                                    </div>
                                }
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

</div>
@section scripts{
    <script src="~/ThemeContent/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!-- include summernote css/js -->
    @*<script src="~/ThemeContent/summernote/summernote.min.js"></script>*@
    <script src="~/ThemeScript/ChapterContent.js"></script>
    <script src="~/Content/editorJSCSS/summernote.js"></script>
    <script src="~/Content/editorJSCSS/codemirror.js"></script>
    <script src="~/Content/editorJSCSS/xml.js"></script>
    <script src="~/Content/editorJSCSS/formatting.js"></script>
    <script>
    var _urlMediumList = '@Url.Action("GetMediumsByStandardId", "ChapterContent")';
    var _urlSubjectList = '@Url.Action("GetSubjectsByStandardAndMedium", "ChapterContent")';
    var _urlChapterList = '@Url.Action("GetChaptersByStandardAndMedium", "ChapterContent")';
    var _urlSectionList = '@Url.Action("GetSectionsByChapterId", "ChapterContent")';
    var _urlDisableSection = '@Url.Action("DisableSection", "ChapterContent")';

    $(document).ready(function () {
        bsCustomFileInput.init();

        $('.chapterTextContentTextArea').summernote({
            height: 800,
            width: 850,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture']],
                ['view', ['fullscreen', 'codeview']]
            ]
        });

        $("div.ChapterImageContents").hide();
        $("div.ChapterVideoContents").hide();
        $(".ddlChapterContentType").val(1);
        $("#ddlSections").on("change", function () {
            var _sectionId = $(this).val();
            $("#SectionId").val(_sectionId)
            BindChapterContent();
        });
        $(".ddlChapterContentType").on("change", function () {
            ShowHideContent();
        });
    });

    function BindChapterContent() {
        var _chapterContent = {};

        _chapterContent.StandardId = $(".ddlStandards").val();
        _chapterContent.MediumId = $("#ddlMediums").val();
        _chapterContent.SubjectId = $("#ddlSubjects").val();
        _chapterContent.ChapterId = $("#ddlChapters").val();
        _chapterContent.SectionId = $("#ddlSections").val();

        $.ajax({
            type: "GET",
            url: "/ChapterContent/GetChapterContentOnSection",
            data: _chapterContent,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (response) {
                if (response != null && response != undefined) {
                    if (response.length > 0) {
                        debugger;

                        var isSectionDisabled = response[0].IsSectionDisabled;
                        $("#IsSectionDisabled_HasValue").prop('checked', isSectionDisabled);

                        $(".ddlChapterContentType").prop("disabled", true);
                        BindChanpterContentData(response);
                    }
                    else {
                        $(".ddlChapterContentType").prop("disabled", false);
                        $(".ddlChapterContentType").val(1);
                        ShowHideContent();
                        $("#UploadedImageContents").empty();
                        $("#UploadedVideoContents").empty();
                        $('.chapterTextContentTextArea').summernote('code', "");
                    }
                }
                else {
                    $(".ddlChapterContentType").prop("disabled", false);
                    $(".ddlChapterContentType").val(1);
                    ShowHideContent();
                    $("#UploadedImageContents").empty();
                    $("#UploadedVideoContents").empty();
                    $('.chapterTextContentTextArea').summernote('code', "");
                }
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function BindChanpterContentData(chapterContent) {
        $(".ddlChapterContentType").val(chapterContent[0].ContentType);
        ShowHideContent();
        if (chapterContent[0].ContentType == 1) {
            $('.chapterTextContentTextArea').summernote({
                height: 800,
                width: 850,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture']],
                    ['view', ['fullscreen', 'codeview']]
                ]
            });
            $('.chapterTextContentTextArea').summernote('code', chapterContent[0].ChapterTextContents);
        }
        if (chapterContent[0].ContentType == 2) {
            $("#UploadedImageContents").empty();
            var table_body = '<table class="table table-bordered table-striped">';
            table_body += '<thead><tr><td>Delete</td><td>File Name</td></tr></thead><tbody>';
            for (var i = 0; i < chapterContent.length; i++) {
                var fullPath = chapterContent[i].ChapterImageContents;
                var fileNameIndex = fullPath.lastIndexOf("/") + 1;
                var filename = fullPath.substr(fileNameIndex);
                table_body += '<tr>';
                table_body += '<td>';
                table_body += '<a class="btn btn-info btn-lg" onclick="DeleteContent(this)" data-ChapterContentId="' + chapterContent[i].ChapterContentId + '"><i class="fas fa-trash-alt"></i></a>';
                table_body += '</td>';
                table_body += '<td>';
                table_body += '<a data-url=' + fullPath + '>' + filename + '</a></td>';
                table_body += '</td>';
                table_body += '</tr>';
            }
            table_body += '</tbody></table>';
            $('#UploadedImageContents').html(table_body);

        }
        if (chapterContent[0].ContentType == 3) {
            $("#UploadedVideoContents").empty();
            var table_body = '<table class="table table-bordered table-striped">';
            table_body += '<thead><tr><td>Delete</td><td>File Name</td></tr></thead><tbody>';
            for (var i = 0; i < chapterContent.length; i++) {
                var fullPath = chapterContent[i].ChapterVideoContents;
                var fileNameIndex = fullPath.lastIndexOf("/") + 1;
                var filename = fullPath.substr(fileNameIndex);
                table_body += '<tr>';
                table_body += '<td>';
                table_body += '<a class="btn btn-info btn-lg" onclick="DeleteContent(this)" data-ChapterContentId="' + chapterContent[i].ChapterContentId + '"><i class="fas fa-trash-alt"></i></a>';
                table_body += '</td>';
                table_body += '<td>';
                table_body += '<a data-url=' + fullPath + '>' + filename + '</a></td>';
                table_body += '</td>';
                table_body += '</tr>';
            }
            table_body += '</tbody></table>';
            $('#UploadedVideoContents').html(table_body);
        }

    }

    function DeleteContent(eval) {
        var chapterContentId = $(eval).attr("data-ChapterContentId");
        var isDelete = confirm("Do you want to Delete the file?");
        if (isDelete) {
            $.ajax({
                type: "POST",
                url: "/ChapterContent/DeleteChapterContent",
                data: "{'_chapterContentId':" + chapterContentId + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (response) {
                    $(eval).closest("tr").remove();
                    BindChapterContent();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    }

    function DisableSection(eval) {
            var chapterId = $("#ddlChapters").val();
            var sectionId = $("#ddlSections").val();
            var isDisabled = $("#IsSectionDisabled_HasValue").prop('checked');
            $.ajax({
                type: "POST",
                url: '/ChapterContent/DisableSection',
                data: JSON.stringify({ chapterId: chapterId, sectionId: sectionId, isDisabled: isDisabled }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    debugger;
                    SuccessMessage($("#divAlertMessage"), "Data updated successfully!");
                },
                error: function (err) {
                    debugger;
                    alert(err.responseText);
                    ErrorMessage($("#divAlertMessage"), "Error while updating the data!");
                }
            });

        }

    </script>
}




