﻿@model PrismAdminAPI.Models.ChapterContent
@using PrismAdminAPI.Models
@{
    ViewBag.Title = "List Chapter Content";
}
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Chapter Content</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Chapter Content List</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row h-100 d-none" id="divAlertMessage">
                <div class="col-sm-12 alert alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                    <span class="textMessage"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Chapter Content List</h3>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/addchaptercontent" class="btn btn-primary float-right">Add/Edit Chapter Content</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="form-group row">
                                @Html.LabelFor(m => m.StandardId, new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(m => m.StandardId, Model.StandardList, "-- Select Standard --", new { @class = "form-control ddlStandards", onchange = "OnStandardChange()" })
                                    @Html.ValidationMessageFor(m => m.StandardId, null, new { @class = "danger errorStandardId" })
                                </div>

                                @Html.LabelFor(m => m.MediumId, new { @class = "col-sm-2 col-form-label" })
                                @Html.HiddenFor(m => m.MediumId)
                                <div class="col-sm-4">
                                    <select class="form-control" id="ddlMediums" onchange="onMediumChange()">
                                        <option selected="selected" value="0">-- Select Mediums --</option>
                                    </select>
                                    @Html.ValidationMessageFor(m => m.MediumId, null, new { @class = "danger errorMediumId" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(m => m.SubjectId, new { @class = "col-sm-2 col-form-label" })
                                @Html.HiddenFor(m => m.SubjectId)
                                <div class="col-sm-4">
                                    <select class="form-control" id="ddlSubjects" onchange="onSubjectChange()">
                                        <option selected="selected" value="0">-- Select Subjects --</option>
                                    </select>
                                    @Html.ValidationMessageFor(m => m.SubjectId, null, new { @class = "danger errorSubjectId" })
                                </div>
                                @Html.LabelFor(m => m.ChapterId, new { @class = "col-sm-2 col-form-label" })
                        @Html.HiddenFor(m => m.ChapterId)
                                <div class="col-sm-4">
                            <select class="form-control" id="ddlChapters" onchange="onChapterChange()">
                                <option selected="selected" value="0">-- Select Chapters --</option>
                            </select>
                            @Html.ValidationMessageFor(m => m.ChapterId, null, new { @class = "danger errorChapterId" })
                        </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(m => m.SectionId, new { @class = "col-sm-2 col-form-label" })
                                @Html.HiddenFor(m => m.SectionId)
                                <div class="col-sm-4">
                                    <select class="form-control" id="ddlSections">
                                        <option selected="selected" value="0">-- Select Sections --</option>
                                    </select>
                                    @Html.ValidationMessageFor(m => m.SectionId, null, new { @class = "danger errorSectionId" })
                                </div>
                                <div class="col-sm-6">
                                    <button id="btnSearch" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-12">
                    <div id="divChapterList">
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
</div>
<script src="~/ThemeScript/ChapterContent.js"></script>
<script>

    var _urlMediumList = '@Url.Action("GetMediumsByStandardId", "ChapterContent")';
    var _urlSubjectList = '@Url.Action("GetSubjectsByStandardAndMedium", "ChapterContent")';
    var _urlChapterList = '@Url.Action("GetChaptersByStandardAndMedium", "ChapterContent")';
    var _urlSectionList = '@Url.Action("GetSectionsByChapterId", "ChapterContent")';
    $(document).ready(function () {

        $("#ddlSections").on("change", function () {
            var _sectionId = $(this).val();
            $("#SectionId").val(_sectionId)
        });

        $('#btnSearch').click(function () {
            var standardId = $("#StandardId").val()
            var mediumId = $("#MediumId").val()
            var subjectId = $("#SubjectId").val()
            var chapterId = $("#ChapterId").val()
            var sectionId = $("#SectionId").val()
            $.ajax({
                url: '/ChapterContent/GetChapterContentListView',
                data: { standardId: standardId, mediumId: mediumId, subjectId: subjectId, chapterId: chapterId, sectionId: sectionId },
                datatype: "JSON",
                type: "POST",
                contenttype: 'application/json; charset=utf-8',
                async: true,
                success: function (data) {
                    debugger;
                    $("#divChapterList").html(data);
                },
                error: function (err) {
                    debugger;
                    alert(err.message);
                }
            });
        });
    });
</script>

