﻿@model PrismAdminAPI.Models.ChapterContentViewModel
@using PrismAdminAPI.Models;
@{
    ViewBag.Title = "Edit Chapter Content";
}

<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
<link href="~/Content/editorJSCSS/codemirror.css" rel="stylesheet" />
<link href="~/Content/editorJSCSS/monokai.css" rel="stylesheet" />
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Add Chapter Content</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row h-100 d-none" id="divAlertMessage">
                <div class="col-sm-12 alert alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                    <span class="textMessage"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Add Chapter Content</h3>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/getchaptercontent" class="btn btn-danger float-right">Chapter Content List</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="form-horizontal">
                            <div class="card-body">
                                @using (Html.BeginForm("InsertChapterContentText", "ChapterContent", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", onsubmit = "return OnSubmitClick()" }))
                                {
                                    @Html.ValidationSummary(true);
                                    <div class="card-body">
                                        <div class="form-group row">
                                            @Html.Label("Standard", new { @class = "col-sm-2 col-form-label" })
                                            @Html.HiddenFor(m=>m.StandardId)
                                            <div class="col-sm-4">
                                                @Model.StandardName
                                            </div>

                                            @Html.Label("MediumId", new { @class = "col-sm-2 col-form-label" })
                                            @Html.HiddenFor(m=>m.MediumId)
                                            <div class="col-sm-4">
                                                @Model.MediumName
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.Label("SubjectId", new { @class = "col-sm-2 col-form-label" })
                                            @Html.HiddenFor(m=>m.SubjectId)
                                            <div class="col-sm-4">
                                                @Model.SubjectName
                                            </div>
                                            @Html.Label("ChapterId", new { @class = "col-sm-2 col-form-label" })
                                            @Html.HiddenFor(m=>m.ChapterId)
                                            <div class="col-sm-4">
                                                @Model.ChapterName
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.Label("SectionId", new { @class = "col-sm-2 col-form-label" })
                                            @Html.HiddenFor(m => m.SectionId)
                                            <div class="col-sm-10">
                                                @Model.SectionName
                                            </div>
                                        </div>
                                        <div class="form-group row ChapterTextContents">
                                            @Html.Label("ChapterContent", new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-10">
                                                @Html.TextAreaFor(m=>m.ChapterTextContents, new { rows = "20", style = "resize:none;width:800px;", @class = "form-control input-lg textarea-editor" })
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

</div>
@section scripts{
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
    <link href="~/Content/editorJSCSS/codemirror.css" rel="stylesheet" />
    <link href="~/Content/editorJSCSS/monokai.css" rel="stylesheet" />
    <script src="~/Content/editorJSCSS/summernote.js"></script>
    <script src="~/Content/editorJSCSS/codemirror.js"></script>
    <script src="~/Content/editorJSCSS/xml.js"></script>
    <script src="~/Content/editorJSCSS/formatting.js"></script>
    <script>
        $(document).ready(function () {
            $('.textarea-editor').summernote({
                height: 800,
                width: 850,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture']],
                    ['view', ['fullscreen', 'codeview']]
                ]
            });

        });
    </script>
}