﻿@*@model IEnumerable<PrismAdminAPI.ViewModel.CouponSponsorerViewModel>*@

@{
    ViewBag.Title = "ListCoupon";
}
<link rel="stylesheet" href="../../ThemeContent/plugins/datatables-bs4/css/dataTables.bootstrap4.css">

<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Coupon List</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Coupon List</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row h-100 d-none" id="divAlertMessage">
                <div class="col-sm-12 alert alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                    <span class="textMessage"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Coupon List</h3>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/addcoupon" class="btn btn-danger float-right">Generate Coupon</a>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-3">
                                    <label class="radio-inline">
                                        <input type="radio" id="usedRadio" value="used" name="couponRadio" checked>Used
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="unUsedRadio" value="unused" name="couponRadio">Un Used
                                    </label>
                                </div>
                            </div>
                            <div class="row md-2">
                                <div class="col-sm-2">
                                    <input type="number" id="fromNumber" class="form-control" placeholder="From Coupon Id" name="fromNumber">
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" id="toNumber" class="form-control" placeholder="To Coupon Id" name="toNumber">
                                </div>
                                <div class="col-sm-3">
                                    <button id="filterData" class="btn btn-primary form-control">Filter</button>
                                </div>
                                <div class="col-sm-2">
                                    <button id="btnActive" class="btn btn-primary form-control">Active</button>
                                </div>
                                <div class="col-sm-2">
                                    <button id="btnDeactive" class="btn btn-primary form-control">Deactive</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tblCouponDetails" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Coupon Id</th>
                                        <th>Coupon Code</th>
                                        <th>Active/Deactive</th>
                                        <th>Sponsorer Name</th>
                                        <th>Created Date</th>
                                    </tr>
                                </thead>
                                @*<tbody>
                                        @foreach (var couponDetails in Model)
                                        {
                                            <tr>
                                                <td>@couponDetails.CouponId</td>
                                                <td>@couponDetails.CouponCode</td>
                                                <td>
                                                    @{
                                                        string _isActive = couponDetails.IsActive == true ? "checked" : "";
                                                    }
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" data-serialid="@couponDetails.CouponId" onclick="ActiveDeactive(this)" type="checkbox" id="chkCoupon-@couponDetails.CouponId" @_isActive>
                                                        <label for="chkCoupon-@couponDetails.CouponId" class="custom-control-label"></label>
                                                    </div>
                                                </td>
                                                <td>@couponDetails.SponsorerName</td>
                                                <td>@couponDetails.CreatedDate</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Coupon Id</th>
                                            <th>Coupon Code</th>
                                            <th>Active/Deactive</th>
                                            <th>Sponsorer Name</th>
                                            <th>Created Date</th>
                                        </tr>
                                    </tfoot>*@
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <script src="../../ThemeContent/plugins/datatables/jquery.dataTables.js"></script>
    <script src="../../ThemeContent/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/ThemeScript/Coupon.js"></script>
    <script src="~/ThemeContent/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/ThemeContent/plugins/jszip/jszip.min.js"></script>
    <script src="~/ThemeContent/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/ThemeContent/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/ThemeContent/plugins/datatables-buttons/js/buttons.html5.min.js"></script>

    <script>
        var _urlActiveDeactivateCoupon = '@Url.Action("ActiveDeactivateCoupon", "Coupon")'
        @*var _urlGetUnUsedCoupons = '@Url.Action("GetUnusedCoupons", "Coupon")'*@
        //$(function () {
        //    $('#tblSubject').DataTable({
        //        "paging": true,
        //        "lengthChange": true,
        //        "searching": true,
        //        "ordering": true,
        //        "info": true,
        //        "autoWidth": false,
        //        dom: 'Bfrtip',
        //        buttons: [ 'excelHtml5']
        //    });
        //});

        $(function () {
            LoadData(true,0,0);
        });

        function LoadData(used,fromCoupon,toCoupon) {
            var datatable = $('#tblCouponDetails').DataTable();
            if ($.fn.dataTable.isDataTable('#tblCouponDetails')) {
                datatable.clear().destroy();
            }

                $("#tblCouponDetails").DataTable({
                    "serverSide": true,
                    "processing": true,
                    "responsive": true,
                    "search": true,
                    "scrollY": "450px",
                    "paging": true,
                    "ordering": true,
                    "orderMulti": true,
                    "lengthchange": true,
                    "scroller": true,
                    "autoWidth": false,
                    //"deferRender": true,
                    //"pageLength": 1500,
                    "order": [0, "asc"],
                    "language": {
                        "processing": "Loading records... please wait!!"
                    },
                    dom: 'Bfrtip',
                    buttons: ['excelHtml5'],
                    "ajax": {
                        "url": "/Coupon/FilterCouponDetails",
                        "type": "POST",
                        "datatype": "json",
                        "data": {
                            "usedCoupons": used,
                            "fromCouponId": fromCoupon,
                            "toCouponId": toCoupon,
                        }
                    },
                    "columns": [
                        { "data": "CouponId", "name": "Coupon Id" },
                        { "data": "CouponCode", "name": "Coupon Code" },
                        { "data": "IsActive", "name": "Active/Deactive" },
                        { "data": "SponsorerName", "name": "Sponsorer Name" },
                        { "data": "CreatedDate", "name": "Created Date" }
                        //{
                        //    "data": "LoginId",
                        //    "render": function (data) {
                        //        return '<button class="btn btn-primary" onclick="'+ "window.open('http://idealstudyadmin.in/StudentDetails/editPassword/" + data + "','_blank')"+'">Edit</button>'
                        //    }
                        //},
                    ],

                });

            var table = $('#tblCouponDetails').DataTable();
                $('#tblCouponDetails_filter input').unbind();
                $('#tblCouponDetails_filter input').bind('keyup', function (e) {
                    if (e.keyCode == 13) {
                        table.search(this.value).draw();
                    }
                });

        }



    </script>
</div>

