﻿@model IEnumerable<PrismAdminAPI.Models.MediumSections>
@{
    ViewBag.Title = "List Standard";
}
@{
    var _sectionList = Model.Select(x => new { x.SectionId, x.SectionName, x.SectionDescription }).Distinct();
    var _mediumList = Model.Select(x => new { x.MediumId, x.MediumName, x.MediumDescription }).Distinct();
}
<link rel="stylesheet" href="../../ThemeContent/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1> Medium Section Configuration</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Medium Section Configuration</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row h-100 d-none" id="divAlertMessage">
                <div class="col-sm-12 alert alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                    <span class="textMessage"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Medium Section Configuration</h3>
                                </div>
                                <div class="col-sm-6">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tblMediumSectionConfiguration" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Section Id</th>
                                        <th>Section Name</th>
                                        <th>Description</th>
                                        <th>Active/Deactive Mediums</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var sectionObject in _sectionList)
                                    {
                                        <tr>
                                            <td>@sectionObject.SectionId</td>
                                            <td>@sectionObject.SectionName</td>
                                            <td>@sectionObject.SectionDescription</td>
                                            <td>
                                                @foreach (var medium in _mediumList)
                                                {
                                                    string mediumSection = String.Format("chkMediumSection-{0}-{1}", sectionObject.SectionId, medium.MediumId);
                                                    var sectionModelDetails = Model.Where(x => x.SectionId == sectionObject.SectionId && x.MediumId == medium.MediumId).FirstOrDefault();
                                                    string isChecked = (sectionModelDetails != null && Convert.ToInt32(sectionModelDetails.MediumSectionId) != 0 && sectionModelDetails.IsActive == true) ? "checked" : "";
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" data-sectionId="@sectionObject.SectionId" data-mediumId="@medium.MediumId" onclick="ActiveDeactive(this)" type="checkbox" id="@mediumSection" @isChecked>
                                                        <label for="@mediumSection" class="custom-control-label">@medium.MediumName</label>
                                                    </div>
                                                }

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Section Id</th>
                                        <th>Section Name</th>
                                        <th>Description</th>
                                        <th>Active/Deactive Mediums</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <script src="../../ThemeContent/plugins/datatables/jquery.dataTables.js"></script>
    <script src="../../ThemeContent/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/ThemeScript/MediumSection.js"></script>
    <script>

        var _urlActiveDeactiveMediumSection = '@Url.Action("ActiveDeactiveMediumSection", "Configuration")';
        $(function () {
            $('#tblMediumSectionConfiguration').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });


    </script>
</div>


