﻿@model PrismAdminAPI.Models.StudentDetail
@{
    ViewBag.Title = "EditPassword";
}

<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Edit Password</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Edit Password</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Edit Password</h3>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="form-horizontal">
                            <div class="card-body">
                                @using (Html.BeginForm("UpdatePassword", "StudentDetails", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
                                {
                                    @Html.HiddenFor(m => m.LoginId);
                                    @Html.HiddenFor(m => m.IsActive);
                                <div class="card-body">
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.FirstName, new { @class = "col-sm-2 col-form-label" })
                                        <div class="col-sm-5">
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.LastName, new { @class = "col-sm-2 col-form-label" })
                                        <div class="col-sm-5">
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.MediumName, new { @class = "col-sm-2 col-form-label" })
                                        <div class="col-sm-5">
                                           
                                                @Html.DropDownListFor(m => m.MediumId, Model.MediumList, "-- Select Medium --", new { @class = "form-control ddlSponsorer", id = "mediumId", name = "mediumId" })
                                                @*@Html.ValidationMessageFor(m => m.Medi, null, new { @class = "danger" })*@
                                          
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-sm-2 col-form-label" })
                                        <div class="col-sm-5">
                                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 col-form-label" })
                                        <div class="col-sm-5">
                                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                                        </div>
                                    </div>

                                </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

</div>

<script>

</script>

