﻿@*@model IEnumerable<PrismAdminAPI.Models.StudentDetail>*@
@{
    ViewBag.Title = "Student Details";
}
<link rel="stylesheet" href="~/ThemeContent/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Student Details</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Student Details</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row h-100 d-none" id="divAlertMessage">
                <div class="col-sm-12 alert alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                    <span class="textMessage"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-3">
                                    <label class="radio-inline">
                                        <input type="radio" id="usedRadio" value="used" name="couponRadio" checked>Used
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="unUsedRadio" value="unused" name="couponRadio">Un Used
                                    </label>
                                </div>
                            </div>
                            <div class="row md-2">
                                <div class="col-sm-2">
                                    <input type="number" id="fromNumber" class="form-control" placeholder="From Coupon Id" name="fromNumber">
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" id="toNumber" class="form-control" placeholder="To Coupon Id" name="toNumber">
                                </div>
                                <div class="col-sm-3">
                                    <input type="date" id="lastLoginDate" class="form-control" placeholder="last login date" name="lastLoginDate">
                                </div>
                                <div class="col-sm-2">
                                    <button id="clearDateFilter" class="btn btn-primary form-control">Clear Date</button>
                                </div>
                                <div class="col-sm-3">
                                    <button id="filterData" class="btn btn-primary form-control">Filter</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="tblStudentDetails" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Coupon Id</th>
                                        <th>Coupon Code</th>
                                        <th>First Name</th>
                                        <th>Father Name</th>
                                        <th>Last Name</th>
                                        <th>Medium Name</th>
                                        <th>Phone Number</th>
                                        <th>Password</th>
                                        <th>Date Of Birth</th>
                                        <th>Login Date</th>
                                        <th>Last Login Date</th>
                                        <th>Sponsorer Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @*<tbody>
                                        @foreach (var studentDetail in Model)
                                        {
                                            <tr>
                                                <td>@studentDetail.CouponId</td>
                                                <td>@studentDetail.CouponCode</td>
                                                <td>@studentDetail.FirstName</td>
                                                <td>@studentDetail.FatherName</td>
                                                <td>@studentDetail.LastName</td>
                                                <td>@studentDetail.MediumName</td>
                                                <td>@studentDetail.PhoneNumber</td>
                                                <td>@studentDetail.Password</td>
                                                <td>@studentDetail.DateOfBirth</td>
                                                <td>@(studentDetail.LoginDate)</td>
                                                <td>@(studentDetail.LastLoginDate)</td>
                                                <td>@studentDetail.SponsorerName</td>
                                                <td>
                                                    <button class="btn btn-primary" onclick="javascript: location.href= 'editPassword/@studentDetail.LoginId'">Edit</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>*@
                                @*<tfoot>
                                        <tr>
                                            <th>Coupon Id</th>
                                            <th>Coupon Code</th>
                                            <th>First Name</th>
                                            <th>Father Name</th>
                                            <th>Last Name</th>
                                            <th>Medium Name</th>
                                            <th>Phone Number</th>
                                            <th>Password</th>
                                            <th>Date Of Birth</th>
                                            <th>Login Date</th>
                                            <th>Last Login Date</th>
                                            <th>Sponsorer Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>*@
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

    <div id='editPasswordModal' class='modal fade' role="dialog">

    </div>
    <script src="../../ThemeContent/plugins/datatables/jquery.dataTables.js"></script>
    <script src="../../ThemeContent/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/ThemeScript/StudentDetail.js"></script>
    <script src="~/ThemeContent/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/ThemeContent/plugins/jszip/jszip.min.js"></script>
        <script src="~/ThemeContent/plugins/pdfmake/pdfmake.min.js"></script>
        <script src="~/ThemeContent/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/ThemeContent/plugins/datatables-buttons/js/buttons.html5.min.js"></script>


    <script>
        var _urlEditPassword = '@Url.Action("EditPassword", "StudentDetails")'
        var _urlGetUnUsedCoupons = '@Url.Action("GetUnusedCoupons", "StudentDetails")'
        $(function () {
            LoadData(true,0,0);
        });

        function LoadData(used,fromCoupon,toCoupon) {
            var datatable = $('#tblStudentDetails').DataTable();
            if ($.fn.dataTable.isDataTable('#tblStudentDetails')) {
                datatable.clear().destroy();
            }

                $("#tblStudentDetails").DataTable({
                    "serverSide": true,
                    "processing": true,
                    "responsive": true,
                    "search": true,
                    "scrollY":"450px",
                    "paging": true,
                    "lengthchange": false,
                    "scroller": true,
                    "deferRender":true,
                    //"pageLength": 1500,
                    "order": [0, "asc"],
                    "language": {
                        "processing": "Loading records... please wait!!"
                    },
                    dom: 'Bfrtip',
                    buttons: ['excelHtml5'],
                    "ajax": {
                        "url": "/StudentDetails/FilterStudentDetails",
                        "type": "POST",
                        "datatype": "json",
                        "data": {
                            "used": used,
                            "fromCouponId": fromCoupon,
                            "toCouponId": toCoupon,
                        }
                    },
                    "columns": [
                        { "data": "CouponId", "name": "Coupon Id", "autoWidth": true },
                        { "data": "CouponCode", "name": "Coupon Code", "autoWidth": true },
                        { "data": "FirstName", "name": "First Name", "autoWidth": true },
                        { "data": "FatherName", "name": "Father Name", "autoWidth": true },
                        { "data": "LastName", "name": "Last Name", "autoWidth": true },
                        { "data": "MediumName", "name": "Medium Name", "autoWidth": true },
                        { "data": "PhoneNumber", "name": "Phone Number", "autoWidth": true },
                        { "data": "Password", "name": "Password", "autoWidth": true },
                        { "data": "DateOfBirth", "name": "Date Of Birth", "autoWidth": true },
                        { "data": "LoginDate", "name": "Login Date", "autoWidth": true },
                        { "data": "LastLoginDate", "name": "Last Login Date", "autoWidth": true },
                        { "data": "SponsorerName", "name": "Sponsorer Name", "autoWidth": true },
                        {
                            "data": "LoginId",
                            "render": function (data) {
                                return '<button class="btn btn-primary" onclick="'+ "window.open('http://idealstudyadmin.in/StudentDetails/editPassword/" + data + "','_blank')"+'">Edit</button>'
                            }
                        },
                    ],

                });

                var table = $("#tblStudentDetails").DataTable();
                $('#tblStudentDetails_filter input').unbind();
                $('#tblStudentDetails_filter input').bind('keyup', function (e) {
                    if (e.keyCode == 13) {
                        table.search(this.value).draw();
                    }
                });
            
        }
    
    </script>


