﻿@model IEnumerable<PrismAdminAPI.Models.Sponsorer>
@using PrismAdminAPI.Extensions
@{
    ViewBag.Title = "Sponsorer List";
}
<link rel="stylesheet" href="../../ThemeContent/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Sponsorer List</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Sponsorer List</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row h-100 d-none" id="divAlertMessage">
                <div class="col-sm-12 alert alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                    <span class="textMessage"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-10">
                                    <h3 class="card-title">Sponsorer List</h3>
                                </div>
                                <div class="col-sm-2">
                                    <a href="/addsponsorer" class="btn btn-danger float-right">Add Sponsorer</a>
                                </div>
                                @*<div class="col-sm-2">
                                    <a href="/assignsponsorer" class="btn btn-danger float-right">Assign Sponsorer</a>
                                </div>*@
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tblSubject" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Sponser Name</th>
                                        <th>Thumbnail Image</th>
                                        <th>Landing Image</th>
                                        <th>Active/Deactive</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var sponserer in Model)
                                    {
                                    <tr>
                                        <td>@sponserer.SponsorerName</td>
                                        <td>
                                            @Html.DrawImage(sponserer.ThumbnailImagePath, string.Empty)
                                            @*@{
            @Html.DrawImage("/content/images/visualstudio.png", "Visual Studio")
            var imgsrc = string.Format("data:image/jpg;base64,{0}", sponserer.ThumbnailImage);
        }
        <img src='@imgsrc' style="max-width:100px;max-height:100px" />*@
                                        </td>
                                        <td>
                                            @Html.DrawImage(sponserer.LandingImagePath, string.Empty)
                                            @*@{
            var imgsrc1 = string.Format("data:image/jpg;base64,{0}", sponserer.LandingImage);
        }
        <img src='@imgsrc1' style="max-width:100px;max-height:100px" />*@
                                        </td>
                                        <td>
                                            @{
                                                string _isActive = sponserer.IsActive == true ? "checked" : "";
                                            }
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" data-serialid="@sponserer.SponsorerId" onclick="ActiveDeactive(this)" type="checkbox" id="chkSponsorer-@sponserer.SponsorerId" @_isActive>
                                                <label for="chkSponsorer-@sponserer.SponsorerId" class="custom-control-label"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-link" onclick="javascript: location.href= 'editsponsorer/@sponserer.SponsorerId'">Edit</button>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        @*<th>Sponser Name</th>
                                        <th>Thumbnail Image</th>
                                        <th>Landing Image</th>
                                        <th>Active/Deactive</th>
                                        <th>Action</th>*@
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <script src="../../ThemeContent/plugins/datatables/jquery.dataTables.js"></script>
    <script src="../../ThemeContent/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/ThemeScript/Sponsorer.js"></script>
    <script>
        var _urlActiveDeactiveSubject='@Url.Action("ActiveDeactiveSponsorer", "Sponsorer")'
        $(function () {
            $('#tblSubject').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>
</div>


