﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ideal Study Admin</title>
    <!-- Font Awesome Icons ,overlayScrollbars,Source Sans Pro,Google Font Boostrap Theme Start -->
    @Styles.Render("~/BoostrapThemeCss")
    <!-- Font Awesome Icons ,overlayScrollbars,Source Sans Pro,Google Font Boostrap Theme End -->
</head>
<body class="hold-transition sidebar-mini">
    @RenderBody()
    @Scripts.Render("~/BoostrapThemeJSMain")
    @Scripts.Render("~/BoostrapThemeJSSub1")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
