﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>

    <title></title>
    <!-- Font Awesome Icons ,overlayScrollbars,Source Sans Pro,Google Font Boostrap Theme Start -->
    @Styles.Render("~/BoostrapThemeCss");
    <!-- Font Awesome Icons ,overlayScrollbars,Source Sans Pro,Google Font Boostrap Theme End -->
<style>
    .content-wrapper {
        margin-top: 3% !important;
    }
</style>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
            @if (!User.IsInRole("Sponsorer Admin"))
            {
                <ul class="navbar-nav ml-auto">
                    <!-- Messages Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="fas fa-toolbox" style="font-size:30px;color:#007bff;"></i>
                            <span class="badge badge-danger navbar-badge" style="font-size:12px;">5</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <a href="/couponlist" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="../ThemeContent/dist/img/setting1.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Coupons
                                        </h3>
                                        <p class="text-sm">Generate Coupons</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="/sponsorerlist" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="../ThemeContent/dist/img/setting2.png" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Sponsorer
                                            <span class="float-right text-sm text-muted"></span>
                                        </h3>
                                        <p class="text-sm">Generate Sponsorer</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="/assignsponsorer" class="dropdown-item">
                                <!-- message start -->
                                <div class="media">
                                    <img src="../themecontent/dist/img/setting3.jpg" alt="user avatar" class="img-size-50 img-circle mr-3">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Assign sponsorer
                                        </h3>
                                        <p class="text-sm">Assign sponsorer to coupons</p>
                                    </div>
                                </div>
                                <!-- message end -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="/adminlist" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="../ThemeContent/dist/img/generate-users.png" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Admin Users
                                        </h3>
                                        <p class="text-sm">Create Admin User and assign roles</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="/studentDetails" class="dropdown-item">
                                <!-- message start -->
                                <div class="media">
                                    <img src="../themecontent/dist/img/setting3.jpg" alt="user avatar" class="img-size-50 img-circle mr-3">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Student Details
                                        </h3>
                                        <p class="text-sm">Show Student Details</p>
                                    </div>
                                </div>
                                <!-- message end -->
                            </a>
                        </div>
                    </li>

                </ul>
            }
            </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="../ThemeContent/dist/img/profile-image.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Ideal Study Admin</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="../ThemeContent/dist/img/profile-image.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">
                            @User.Identity.Name
                        </a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->

                        @if (!User.IsInRole("Sponsorer Admin"))
                        {
                            <li class="nav-item has-treeview menu-open">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Dashboard
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/standardlist" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Standard</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/mediumlist" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Medium</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/sectionlist" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Section</p>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Configuration
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/standardmedium" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Standard Medium</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/mediumsection" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Medium Sections</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Subject Configuration
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/subjectlist" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Subject</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/getsubjectcontent" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Subject Content</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Chapter Configuration
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/chapterlist" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Chapter</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/getchaptercontent" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Chapter Content</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/addmcq" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>MCQ</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Registration
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/autoregistration" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Auto Registration</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }

                        @if (User.IsInRole("Sponsorer Admin"))
                        {
                            <li class="nav-item has-treeview menu-open">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Dashboard
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/sponsorerCouponView" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Coupon View</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/sponsorerStudentView" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Student View</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Main Footer -->
        <footer class="main-footer">
            &nbsp;
        </footer>
    </div>
   
    @Scripts.Render("~/BoostrapThemeJSMain")
    @Scripts.Render("~/BoostrapThemeJSSub1")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderBody()


    @RenderSection("scripts", required: false)
</body>
</html>
