﻿@model PrismAdminAPI.Models.LnkQuestionChapterViewModel


<div id="questionDiv">
    @foreach (var item in Model.Questions)
    {
        
        <div class="card card-dark" id=@item.QuestionNo.ToString()>
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h1 class="card-title questionPadding" style="text-align:center; font-size:20px;">Question No @item.QuestionNo </h1>
                    </div>
                    <div class="col-sm-1">
                        <button onclick="AddNewQuestion(this)" id=@item.QuestionNo.ToString() class="btn">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="col-sm-1">
                        <button onclick="DeleteQuestion(this)" id=@item.QuestionNo.ToString() class="btn">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card-body questionBack" style="font-size:20px;">
                <div class="row">
                    <div class="col-md-9">
                        <input type="text"
                               name="txtbox+@item.QuestionName"
                               class="form-control"
                               id="@("txtbox"+item.QuestionNo)"
                               value="@item.QuestionName" hidden="hidden" />

                        <label id="@("lbl"+item.QuestionNo)"
                               style="font-size:20px;">@item.QuestionName</label>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-success" onClick="addAnswer(this,'@item.QuestionNo.ToString()')" id=@item.QuestionNo.ToString()>
                                Add Answer
                                <i class="fa fa-plus"></i>
                            </button>
                            <button class="btn btn-success" onClick="editQuestionAnswer(this,'@item.QuestionNo.ToString()')" id=@item.QuestionNo.ToString()>
                                Edit Q & A
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-success" onClick="saveQuestionAnswer(this,'@item.QuestionNo.ToString()')" id=@item.QuestionNo.ToString()>
                                Save
                                <i class="fa fa-save"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body  answerCard-back" id="@("answerDiv"+item.QuestionNo.ToString())">
                    @foreach (var answer in item.Answers)
                    {
                        <div class="card answerCard" id="@answer.AnswerNo.ToString()">
                            <div class="card-body answercard-body">
                                <div class="row">
                                    <div class="col-md-10" style="font-size:25px;color:white;">
                                        <input type="text"
                                               name=@(answer.AnswerNo.ToString())
                                               class="form-control"
                                               id=@(answer.AnswerNo.ToString())
                                               value="@answer.AnswerName.ToString()"
                                               placeholder="Enter the answer here...."
                                               hidden="hidden" />

                                        <label id=@("lbl"+answer.AnswerNo.ToString())
                                               style="font-size:20px;">@answer.AnswerName</label>
                                            @*@answer.AnswerName*@
                                        </div>
                                        <div class="col-md-1">
                                            <button class="btn"
                                                    onclick="answerChecked(this,@("answerDiv"+item.QuestionNo.ToString()))"
                                                    id=@(answer.AnswerNo.ToString())>
                                                <span>
                                                    @if (answer.IsCorrect == true)
                                                    {
                                                        <i class="hoverIcon fa fa-check-circle" style="font-size:28px;color:green">
                                                            </i>
                                                    }
                                                    else
                                                    {
                                                            <i class="hoverIcon fa fa-circle-o" style="font-size:28px;color:green">
                                                            </i>
                                                    }
                                                    </span>
                                            </button>
                                        </div>
                                        <div class="col-md-1"><button class="btn btn-danger" onClick="deleteAnswer(this,'@item.QuestionNo.ToString()')" id=@answer.AnswerNo.ToString()> <i class="fa fa-times"></i></button></div>
                                    </div>
                                </div>
                            </div>
                        }
                </div>

            </div>
        }
</div>

<style>
    .hoverIcon:hover {
        color: green !important;
    }

    .answercard-body {
        background-color: #9d691fc7 /*#825309c7*/;
    }

    .questionBack {
        background-color: #bbad84;
        font-weight: bold;
    }

    .answerCard-back {
        background-color: #bbad84;
    }

    .answerCard:hover {
        background-color: ThreeDLightShadow !important;
        color: white;
    }

    .btn {
        color: white;
    }

    .delete {
        color: white;
    }

    .answerCard {
        background-color: whitesmoke;
    }

    .questionPadding {
        padding-top: 6px;
    }

    .card row {
        line-height: 0.5rem
    }
</style>