﻿@model IEnumerable<PrismAdminAPI.Models.SubjectContentViewModel>
@using PrismAdminAPI.Models;
@{
    ViewBag.Title = "List Subject Content";
}
<link rel="stylesheet" href="../../ThemeContent/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<table id="tblStandardContent" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Standard </th>
            <th>Subject </th>
            <th>Medium</th>
            <th>Section</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.StandardName</td>
            <td>@item.SubjectName</td>
            <td>@item.MediumName</td>
            <td>@item.SectionName</td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Standard </th>
            <th>Subject </th>
            <th>Medium</th>
            <th>Section</th>
        </tr>
    </tfoot>
</table>

<script src="../../ThemeContent/plugins/datatables/jquery.dataTables.js"></script>
<script src="../../ThemeContent/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="~/ThemeScript/SubjectContent.js"></script>
<script>
    $(function () {
        $('#tblStandardContent').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });
    });
</script>


