﻿@model PrismAdminAPI.Models.SubjectContent
@using PrismAdminAPI.Models
@{
    ViewBag.Title = "Add Subject Content";
}
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
<link href="~/Content/editorJSCSS/codemirror.css" rel="stylesheet" />
<link href="~/Content/editorJSCSS/monokai.css" rel="stylesheet" />
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Subject Content</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Add Subject Content</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Add Subject Content</h3>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/getstandardcontent" class="btn btn-danger float-right">Subject Content List</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="form-horizontal">
                            <div class="card-body">
                                @using (Html.BeginForm("InsertSubjectContent", "SubjectContent", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", onsubmit = "return OnSubmitClick()" }))
                                {
                                    @Html.ValidationSummary(true);
                                    <div class="card-body">
                                        <div class="form-group row">
                                            @Html.LabelFor(m => m.StandardId, new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-4">
                                                @Html.DropDownListFor(m => m.StandardId, Model.StandardList, "-- Select Standard --", new { @class = "form-control ddlStandards", onchange = "OnStandardChange()" })
                                                @Html.ValidationMessageFor(m => m.StandardId, null, new { @class = "danger errorStandardId" })
                                            </div>

                                            @Html.LabelFor(m => m.MediumId, new { @class = "col-sm-2 col-form-label" })
                                            @Html.HiddenFor(m => m.MediumId)
                                            <div class="col-sm-4">
                                                <select class="form-control" id="ddlMediums" onchange="onMediumChange()">
                                                    <option selected="selected" value="0">-- Select Mediums --</option>
                                                </select>
                                                @Html.ValidationMessageFor(m => m.MediumId, null, new { @class = "danger errorMediumId" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(m => m.SubjectId, new { @class = "col-sm-2 col-form-label" })
                                            @Html.HiddenFor(m => m.SubjectId)
                                            <div class="col-sm-4">
                                                <select class="form-control" id="ddlSubjects">
                                                    <option selected="selected" value="0">-- Select Subjects --</option>
                                                </select>
                                                @Html.ValidationMessageFor(m => m.MediumId, null, new { @class = "danger errorSubjectId" })
                                            </div>
                                            @Html.LabelFor(m => m.SectionId, new { @class = "col-sm-2 col-form-label" })
                                            @Html.HiddenFor(m => m.SectionId)
                                            <div class="col-sm-4">
                                                <select class="form-control" id="ddlSections">
                                                    <option selected="selected" value="0">-- Select Sections --</option>
                                                </select>
                                                @Html.ValidationMessageFor(m => m.SectionId, null, new { @class = "danger errorSectionId" })
                                            </div>
                                        </div>
                                        <div class="form-group row ChapterTextContents">
                                            @Html.LabelFor(m => m.SubjectTextContents, new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-10">
                                                @Html.TextAreaFor(m => m.SubjectTextContents, new { @class = "subjectTextContentTextArea textarea-editor" })
                                                @Html.ValidationMessageFor(m => m.SubjectTextContents, null, new { @class = "danger errorSubjectTextContents" })
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
    <link href="~/Content/editorJSCSS/codemirror.css" rel="stylesheet" />
    <link href="~/Content/editorJSCSS/monokai.css" rel="stylesheet" />
    <script src="~/Content/editorJSCSS/summernote.js"></script>
    <script src="~/Content/editorJSCSS/codemirror.js"></script>
    <script src="~/Content/editorJSCSS/xml.js"></script>
    <script src="~/Content/editorJSCSS/formatting.js"></script>
    <script src="~/ThemeScript/SubjectContent.js"></script>


    <script>
    var _urlMediumList = '@Url.Action("GetMediumsByStandardId", "SubjectContent")';
    var _urlSubjectList = '@Url.Action("GetSubjectsByStandardAndMedium", "SubjectContent")';
    var _urlSectionList = '@Url.Action("GetStandardSections", "SubjectContent")';
    $(document).ready(function () {
       
        $('.textarea-editor').summernote({
            height: 800,
            width: 850,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture']],
                ['view', ['fullscreen', 'codeview']]
            ]
        });
        GetSectionList();

        $("#ddlSubjects").on("change", function () {
            $("#SubjectId").val($(this).val());
        });

        $("#ddlSections").on("change", function () {
            $("#SectionId").val($(this).val());
            BindSubjectContent();
        });
    });


    function BindSubjectContent() {
        var _subjectContent = {};

        _subjectContent.StandardId = $(".ddlStandards").val();
        _subjectContent.MediumId = $("#ddlMediums").val();
        _subjectContent.SubjectId = $("#ddlSubjects").val();
        _subjectContent.SectionId = $("#ddlSections").val();

        $.ajax({
            type: "GET",
            url: "/SubjectContent/GetSubjectContentOnSection",
            data: _subjectContent,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (response) {
                debugger
                if (response != null && response != undefined && response.SubjectTextContents != null) {
                    $('.textarea-editor').summernote({
                        height: 800,
                        width: 850,
                        toolbar: [
                            // [groupName, [list of button]]
                            ['style', ['bold', 'italic', 'underline', 'clear']],
                            ['font', ['strikethrough', 'superscript', 'subscript']],
                            ['fontsize', ['fontsize']],
                            ['color', ['color']],
                            ['para', ['ul', 'ol', 'paragraph']],
                            ['height', ['height']],
                            ['table', ['table']],
                            ['insert', ['link', 'picture']],
                            ['view', ['fullscreen', 'codeview']]
                        ]
                    });
                    $('.textarea-editor').summernote('code', response.SubjectTextContents);
                }
            },
            error: function (response) {

            }
        });
    }

    </script>
}




