﻿
@model PrismAdminAPI.Models.SubjectContent
@using PrismAdminAPI.Models
@{
    ViewBag.Title = "Add Subject Content";
}
<link href="~/ThemeContent/summernote/summernote.min.css" rel="stylesheet" />
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Subject Content</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Add Subject Content</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Add Subject Content</h3>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/addsubjectcontent" class="btn btn-danger float-right">Add Subject Content</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="form-horizontal">
                            <div class="card-body">
                                <div class="card-body">
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.StandardId, new { @class = "col-sm-2 col-form-label" })
                                        <div class="col-sm-4">
                                            @Html.DropDownListFor(m => m.StandardId, Model.StandardList, "-- Select Standard --", new { @class = "form-control ddlStandards", onchange = "OnStandardChange()" })
                                            @Html.ValidationMessageFor(m => m.StandardId, null, new { @class = "danger errorStandardId" })
                                        </div>

                                        @Html.LabelFor(m => m.MediumId, new { @class = "col-sm-2 col-form-label" })
                                        @Html.HiddenFor(m => m.MediumId)
                                        <div class="col-sm-4">
                                            <select class="form-control" id="ddlMediums" onchange="onMediumChange()">
                                                <option selected="selected" value="0">-- Select Mediums --</option>
                                            </select>
                                            @Html.ValidationMessageFor(m => m.MediumId, null, new { @class = "danger errorMediumId" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.SubjectId, new { @class = "col-sm-2 col-form-label" })
                                        @Html.HiddenFor(m => m.SubjectId)
                                        <div class="col-sm-4">
                                            <select class="form-control" id="ddlSubjects">
                                                <option selected="selected" value="0">-- Select Subjects --</option>
                                            </select>
                                            @Html.ValidationMessageFor(m => m.SubjectId, null, new { @class = "danger errorSubjectId" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.SectionId, new { @class = "col-sm-2 col-form-label" })
                                        @Html.HiddenFor(m => m.SectionId)
                                        <div class="col-sm-4">
                                            <select class="form-control" id="ddlSections">
                                                <option selected="selected" value="0">-- Select Sections --</option>
                                            </select>
                                            @Html.ValidationMessageFor(m => m.SectionId, null, new { @class = "danger errorSectionId" })
                                        </div>
                                        <div class="col-sm-6">
                                            <button id="btnSearch" class="btn btn-primary">Search</button>
                                        </div>
                                    </div>
                                    <div id="divSubjectContent">

                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

</div>
@section scripts{
    <script src="~/ThemeScript/SubjectContent.js"></script>
    <script>
    var _urlMediumList = '@Url.Action("GetMediumsByStandardId", "SubjectContent")';
    var _urlSectionList = '@Url.Action("GetStandardSections", "SubjectContent")';
    var _urlSubjectList = '@Url.Action("GetSubjectsByStandardAndMedium", "SubjectContent")';
    $(document).ready(function () {
        GetSectionList();
        BindSubjectContent();
        $("#btnSearch").click(function () {
            BindSubjectContent();
        });
        $("#ddlSubjects").on("change", function () {
            $("#SubjectId").val($(this).val());
        });

        $("#ddlSections").on("change", function () {
            $("#SectionId").val($(this).val());
        });
    });


    function BindSubjectContent() {
            var _subjectContent = {
                StandardId: $(".ddlStandards").val(),
                MediumId: $("#ddlMediums").val(),
                SubjectId: $("#ddlSubjects").val(),
                SectionId: $("#ddlSections").val()
            }
            $.ajax({
                type: "POST",
                url: "/SubjectContent/GetSubjectContent",
                data: JSON.stringify(_subjectContent),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $('#divSubjectContent').html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

    </script>
}




